.containers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-container {
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.welcome-text {
    width: 380px;
    letter-spacing: 2px;
    border-left: 20px;
}

.header_img {
    height: 600px;
    margin-top: 50px;
}

h4 {
    font-family: 'Rowdies';
    font-weight: 400;
    font-size: 24px;
    margin: 3px;
}

p {
    margin: 3px;
    font-family: 'Jost';
    font-weight: 400;
    color: rgb(126, 108, 168);
}